.music-player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px 16px;

  .music-player__row {
    --column-outside-width: 200px;

    display: flex;
    align-items: center;
    gap: 32px;

    .music-player_left {
      display: flex;
      align-items: center;
      width: var(--column-outside-width);
    }

    .music-player_center {
      display: flex;
      flex: auto;
      justify-content: center;
      align-items: center;
    }

    .music-player_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: var(--column-outside-width);
    }
  }
}
